.wrapper {
    display: grid;
    padding: 5px 20px 20px;
    gap: 20px;
    grid-template: 80px 600px / 1fr;

    h2 {
        text-align: center;
        margin-bottom: 5px;
    }

    .row {
        display: flex;
        gap: 20px;

        & > * {
            flex: 1 1 0px;
        }
    }

}

.btn-container {
    display:  flex;
    justify-content: space-around;

    .src-name {
        display: flex;
        align-items: center;
        flex-direction: column;

        p {
            margin-bottom: 0;
        }
    }
}

.susp-doc {
    p {
        text-align: center;
    }
}



// <div>
//       <h2>Tai lieu nghi ngo</h2>
//       <app-raw-scroll
//       [sentences]="vm.susp_sent"
//       [fileStat]="vm.fileStat"
//       [fileType]="'susp'"
//       ></app-raw-scroll>
//     </div>

//     <div>
//       <h2>Tai lieu nguon</h2>
//       <div class="btn-container">
//         <button (click)="load_prev_doc()">Previouse doc</button>
//         <span>{{current_source_doc$ | async}}</span>
//         <button (click)="load_next_doc()">Next doc</button>
//       </div>
//       <app-raw-scroll
//       [sentences]="vm.src_sent"
//       [fileStat]="vm.fileStat"
//       [fileType]="'src'"
//       [srcFileName]="current_source_doc$ | async"
//     ></app-raw-scroll>
//     </div>
// .wrapper {
//     display: grid;
//     padding: 20px;
//     gap: 20px;
//     grid-template: 60vh / 1fr 1fr;
// }

// .btn_container {
//     display:  flex;
//     justify-content: space-around;
// }