<mat-card>
  <form
    [formGroup]="registerForm"
    class="form-wrapper"
    (ngSubmit)="handleSubmit()"
  >
    <h2>Đăng ký</h2>
    <app-messages [messages]="messages$ | async"></app-messages>

    <mat-form-field appearance="legacy">
      <mat-label>Họ tên</mat-label>
      <input matInput placeholder="Placeholder" formControlName="fullname" />
      <mat-error *ngIf="fullname.hasError('required')">Vui lòng điền họ tên</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Placeholder" formControlName="email" />
      <mat-error *ngIf="email.hasError('email')">Email không hợp lệ</mat-error>
      <mat-error *ngIf="email.hasError('required')"
        >Vui lòng điền email</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Mật khẩu</mat-label>
      <input matInput placeholder="Placeholder" formControlName="password" />
      <mat-error *ngIf="password.hasError('required')">Vui lòng điền mật khẩu</mat-error>
    </mat-form-field>
    
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Đăng ký</button>
      <a mat-raised-button [routerLink]="['/login']">Đăng nhập</a>
    </div>
  </form>
</mat-card>
